package config

import (
	"{{.ModuleName}}/internal/pkg/logger"
)


// Config holds all application configuration
type Config struct {
	App    AppConfig           `mapstructure:"app"`
	Logger logger.Config       `mapstructure:"logger"`
}
